:focus {
    outline: 0;
}
input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}
@import './ModalDetails.css';