.divDetails{
    background-color: beige;
    width: 600px;
    height: 500px;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -100px;
    margin-left: -300px;
    font-size: 12px;
}

.userList{
    text-align: center;
}

.closeButton{
    font-size: 25px;
}
.divDetails table {
    text-align: center;
    margin: 0 auto;
}

.divTable {
    height: 250px;
    overflow-y: auto;
}